.sidebar {
    padding: 0px 10px 20px 0px;
    transition: width 0.3s ease;
  }
  
  .sidebar > div:nth-child(1) {
    padding-top: 0px;
  }
  
  .sidebar.hidden {
    width: 0;
    padding: 0;
    overflow: hidden;
  }
  
  .filter-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
  }
  
  .filter-category {
    margin-bottom: 15px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
    padding: 20px 0px;
    font-family: Simplon Norm, sans-serif;
    font-size: 15px;
    font-weight: 600;
  }
  
  .checkbox-label {
    display: flex;
    align-items: center;
  }
  
  .checkbox-label input[type="checkbox"] {
    margin-right: 10px;
  }
  
  .dropdown-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Simplon Norm, sans-serif;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
  }
  
  .dropdown-arrow {
    font-size: 0.8rem;
  }
  
  .dropdown-content {
    margin-top: 10px;
    padding-left: 10px;
  }
  
  .dropdown-option {
    padding: 10px 0px 0px 0px;
    font-family: Simplon Norm, sans-serif;
    font-size: 13px;
    font-weight: 500;
  }

  .underline {
    text-decoration: underline;
    color:#98b4b6;
    text-align: left;
  }

  .all-text {
    font-size: 14px;
    text-align: left;
  }

  .checkboxes {
    display: flex;
  }